---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="https://webcomponents.guide/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Web Components Guide</title>
    <link>{{ baseurl }}</link>
    <atom:link href="{{ baseurl }}/{{ page.url }}" rel="self" type="application/rss+xml" />
    <language>en</language>
    {%- for post in collections.blog | reverse %}
    {%- capture absolutePostUrl %}{{ baseurl }}{{ post.url }}{% endcapture %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description>{{ post.templateContent | html_to_absolute_urls: absolutePostUrl }}</description>
      <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>
      {%- for author in post.authors %}
      <dc:creator>{{ author }}</dc:creator>
      {%- endfor %}
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>
